#img__cart{
    margin: 0 auto;
    max-width: 20%;
}
.card__brand__cart{
    margin: 40px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #2c3e5020;
}
.card__brand__cart:hover{
    background-color:#2c3e5087 ;
    color: white;
    transition: ease-in 1s;
}

#descrip__cart{
    font-size: 1.5em;
    margin: 3%;
}
#title{
    font-size: 2em;
    margin: 3%;
}

.in__card__cart{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
}

#contBuying{
    margin: 3% auto;
    text-align: center;
}

.marginsBtns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.GenerateBtn{
    background-color: #2c3e5040;
    padding: 20px;
    margin: 3% 20% 6% 20%;
    text-align: center;
    border-radius: 20px;
}
.cartEmpty{
    text-align: center;
    margin: 40px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    border-radius: 20px;
    background-color: #2c3e5020;
}

@media screen and (max-width: 420px){
    #img__cart{
        max-width: 80%;
    }
    .in__card__cart{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}
    
