.card__brand2{
    margin: 10% auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background-color: #2c3e5050;
}
.card__brand3{
    padding-top: 5px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #2c3e5030;
}
.card__brand3:hover{
    cursor: pointer;
    background-color:#2c3e5080 ;
    color: white;
    transition: ease-in-out 1s;

}

#brand{
    margin: 0 auto;
    max-width: 80%;
    border-radius: 20px;
}

.btnGridPos{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#descripcion{
    margin-top: 5px;
    font-size: 1rem;
}

#titulo{
    font-size: 3rem;
}

#stock{
    font-size: 0.8em;
    color: white;
}

.links{
    color: black;
    text-decoration: none;
}
.links:hover{
    cursor: pointer;
    color: white;
    transition: ease-in-out 1s;
}