.grilla__lubricentro{
    margin: 10px auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr auto;
    gap: 20px;
}

.btnGridPos{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#h2{
    font-size: 2rem;
}
p{
    font-size: 2rem;
}

.card__brand{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #2c3e5050;
    transition: all 2s;
    overflow: hidden;
}

.card__brand:hover{
    translate: 10px -20px;
}

#img{
    margin: 0 auto;
    max-width: 80%;
}

#card:hover{box-shadow: 79px 17px 53px 3px rgba(0,0,0,0.73);
    -moz-box-shadow: 79px 17px 53px 3px rgba(0,0,0,0.73);
    box-shadow: 79px 17px 53px 3px rgba(0,0,0,0.73);
    transition: all 2s;
}

#botonc{
    border:1px black;
    background-color: #bdc3c750;
}
#botonc:hover{
    background-color:#f55239 ;
    transition: all 2s;
}