.navegador{
    background-color: white;
    margin-top: 0;
}

.banner_logo{
    background-color: white;
    text-align: center;
}

#btnNavbar{
    border:1px solid grey;
}
#btnNavbar:hover{
    background-color:#f55239 ;
    transition: 1s;
}

#lista{
    display: flex;
    justify-content: center;   
}

#lista button {
    margin: 10px;
    border-radius: 3px;
}

