.navegador{
    max-width: 100%;
    background-color: white;
    margin-top: 0;
    min-width: 20%;
}

.banner_logo{
    /* max-width: 100%; */
    background-color: white;
    text-align: center;
}

#btnNavbar{
    border:1px solid grey;
}
#btnNavbar:hover{
    background-color:#f55239 ;
    transition: 1s;
}

#lista{
    display: flex;
    justify-content: center;   
}

#lista button {
    margin: 10px;
    border-radius: 3px;
}

@media screen and (max-width: 320px) {
    .navegador{
        min-width: 60%;
        background-color: white;
    }
    .banner_logo{
        min-width: 30%;  
    }
}