.navegador{
    background-color: white;
    height: 20vh;
    margin-top: 0;
}

#lista{
    display: flex;
    justify-content: flex-end;   
}

#lista button {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: aquamarine;
}

#logo {
    position: absolute;
    z-index: 1;
    margin-left: 3%;
}
