#contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Space{
    margin: auto;
}

#Space2{
    border: 0;
    background-color: #ffc10730;
    margin-top: 20px;
}

#Space2:hover{
    background-color: #ffc10799;
}

#numero {
    text-align: center;
    margin-top: 2%;
    font-size: 1rem;
    font-weight: 600;
}
